[project]
	description = Cockroach is a plugin for keepass which provide a password generator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joe Lei (ifooth)
[access "refs/for/refs/*"]
	read = group user/Joe Lei (ifooth)
	push = group user/Joe Lei (ifooth)
	label-Code-Review = -2..+2 group user/Joe Lei (ifooth)
	label-Verified = -1..+1 group user/Joe Lei (ifooth)
	rebase = group user/Joe Lei (ifooth)
	removeReviewer = group user/Joe Lei (ifooth)
	submit = group user/Joe Lei (ifooth)
[access "refs/heads/*"]
	read = group user/Joe Lei (ifooth)
	create = group user/Joe Lei (ifooth)
	push = +force group user/Joe Lei (ifooth)
	pushMerge = group user/Joe Lei (ifooth)
[access "refs/tags/*"]
	push = +force group user/Joe Lei (ifooth)
	pushTag = group user/Joe Lei (ifooth)
	pushSignedTag = group user/Joe Lei (ifooth)
